# Application Environment (e.g. development, staging, production)
app.environment=development

# Application Secret Key
app.secret.key=BHEL_HRM_SUPER_SECRET_MASTER_KEY_2026

# Remote Method Invocation (RMI)
rmi.host=localhost
rmi.port=1099
# A unique name to reference the service from the RMI registry.
rmi.service.name=HRMService

# Payroll System (PRS)
payroll.host=localhost
payroll.port=12345

# KeyStore
keystore.password=password123
keystore.path=payroll_keystore.p12

# MySQL Database Connection
db.connection=mysql
db.driver=jdbc
db.user=user
db.password=password
db.host=localhost
db.port=3306
db.name=hrm_db
