# Application Environment (e.g. development, staging, production)
app.environment=development

# MySQL Database Connection
db.connection=mysql
db.driver=jdbc
db.user=user
db.password=password
db.host=localhost
db.port=3306
db.name=hrm_db
